@import 'styles/variables.scss';

.customBtn {
  background-color: $primary-green;
  color: #000;
  font-weight: 400;

  &:hover, &:focus {
    color: $primary-green;
    border-color: $primary-green;
  }
}