.modalWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
}

.title {
  color: #9aed00;
}

.modal {
  background: rgb(87, 87, 87);
  padding: 24px;
}

.modalTitle {
  background: rgb(87, 87, 87);
}

.form {
  text-align: center;
}

.formField label {
  color: #9aed00;
}

.mapWrapper {
  position: relative;
}

.distance {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.removeBtn {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}
