.list {
  border-radius: 10px;
  border: 1px solid #9aed00;
}

.listItem {
  padding: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.emptyText {
  color: rgba(202, 197, 197, 0.885);
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.listItem:hover {
  background: #9aed00;
}

.listItem:hover h4,
.listItem:hover .leftArrow {
  color: #000;
}

.listItem h4 {
  color: #9aed00;
  display: flex;
  align-items: baseline;
}

.leftArrow {
  font-size: 24px;
  color: #9aed00;
}

.itemTitle {
  color: #fff;
  margin-bottom: 0;
  font-size: 14px;
}

.meta {
  align-items: center;
}

.meta h4 {
  margin-bottom: 0;
}

.title {
  color: #fff;
}

.description {
  color: #fff;
}

.distance {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}

.itemMarker {
  font-size: 32px;
  color: rgb(253, 50, 5);
}