@import 'styles/variables.scss';

.list {
  border-radius: 10px;
  border: 1px solid $primary-green;

  .listItem {
    padding: 18px;
    color: $text-color;
    cursor: pointer;
    transition: all 0.5s ease;

    .title {
      color: $text-color;
    }
    
    .description {
      color: $text-color;
    }
    
    .distance {
      color: $text-color;
      font-size: 16px;
      font-weight: bold;
      margin: 0 10px;
    }
    
    .itemMarker {
      font-size: 32px;
      color: rgb(253, 50, 5);
    }

    & h4 {
      color: $primary-green;
      display: flex;
      align-items: baseline;
    }

    &:hover {
      background: $primary-green;

      & h4, & .leftArrow {
        color: #000;
      }
    }
  }
}

.emptyText {
  color: rgba(202, 197, 197, 0.885);
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.leftArrow {
  font-size: 24px;
  color: $primary-green;
}

.itemTitle {
  color: $text-color;
  margin-bottom: 0;
  font-size: 14px;
}

.meta {
  align-items: center;

  & h4 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .list {
    max-height: 200px;
    overflow-y: scroll;
  }
}