@import 'styles/variables.scss';

.text {
  color: $primary-green;
  font-size: 21px;
  text-transform: uppercase;
}

.icon {
  font-size: 26px;
  margin-right: 10px;
}

.logoWrapper {
  display: flex;
  align-items: flex-end;
}