@import 'styles/variables.scss';

.listWrapper {
  margin-bottom: 15px;
  width: 100%;
}

.inputSearch {
  margin-bottom: 30px;
  border-color: $primary-green;
  background: rgb(61, 60, 60);
  color: $text-color;
  border-radius: 10px;
}

.inputSearch input {
  border-color: $primary-green;
  background: rgb(61, 60, 60);
  color: $text-color;
  border-radius: 10px;
}

.inputSearch:hover,
.inputSearch:focus {
  border-color: $primary-green;
  background: rgb(61, 60, 60);
  color: $text-color;
  border-color: $primary-green !important;
  outline: $primary-green !important;
}

.icon {
  background-color: transparent;
  color: $primary-green;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.5s ease;
}

.icon:hover {
  color: #7ab50e;
}
