@import 'styles/variables.scss';

.pathView {
  background: transparent;
  color: $text-color;
  border: 1px solid $primary-green;
  border-radius: 10px;
  width: 100%;

  .card {
    background: transparent;
    color: $text-color;
    border: none;
    width: 100%;

    .fullDescription {
      word-wrap: break-word;
    }

    .distance {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
    }

    .wrapperBtn {
      margin: 0 auto;
    }

    & h5 {
      margin-bottom: 0;
    }
  }
}

.defaultText {
  color: rgba(202, 197, 197, 0.885);
  font-size: 18px;
  font-weight: bold;
  display: block;
  min-height: 50px;
  margin: 20px auto 0;
  text-align: center;
}
