.pathView {
  background: transparent;
  color: #fff;
  border: 1px solid #9aed00;
  border-radius: 10px;
  margin: 0 auto;
}

.card {
  background: transparent;
  color: #fff;
  border: none;
}

.distance {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.wrapperBtn {
  margin: 0 auto;
}

.defaultText {
  color: rgba(202, 197, 197, 0.885);
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: 30px auto 0;
  text-align: center;
}

.fullDescription {
  word-wrap: break-word;
}
