.inputSearch input {
  border-color: #9aed00;
  background: transparent;
  color: #fff;
}

.inputSearch button {
  border-color: #9aed00;
  background: #9aed00;
  color: #000;
}

.inputSearch button:hover,
.inputSearch button:focus {
  border-color: #9aed00;
  background: rgb(61, 60, 60);
  color: #fff;
}

.inputSearch input:hover,
.inputSearch input:focus {
  border-color: #9aed00 !important;
  outline: #9aed00 !important;
}
